@import url('https://fonts.googleapis.com/css?family=Source Sans Pro:wght@400;500;600;700&display=swap')

*{
	margin: 0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}

body{
	line-height: 1.5;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.container{
	max-width: 1300px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.align-items-center{
	align-items: center;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

/* header */
.site-header{
	display: block;
	position: relative;
	z-index: 99;
	padding: 15px;
}

.site-header .item-left{
	flex: 0 0 17%;
}

.site-header .site-logo a{
	font-size: 30px;
	color: #f2f2f2;
}

.site-header .item-center{
	flex: 0 0 66%;
}

.site-header .item-right{
	flex: 0 0 17%;
}

.site-header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}

.site-header .menu > ul > li > a{
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	position: relative;
}

.site-header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color: #000000;
	box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top: 20px;
	opacity: 0;
	visibility: hidden;
}

.site-header .menu > ul > li.menu-item-has-children:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}

.site-header .menu > ul > li .sub-menu > ul > li {
	line-height: 1;
}

.site-header .menu > ul > li .sub-menu > ul > li > a {
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #ffffff;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}

.site-header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
	line-height: 1;
	display: block;
}

.site-header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
	padding: 10px 0;
	display: inline-block;
	font-size: 15;
	color: #b3b3b3;
	transition: color 0.3s ease;
}

.site-header .menu > ul > li .sub-menu.mega-menu{
    left: 50%;
    transform: translateX(-50%);
}

.site-header .menu > ul > li .sub-menu.mega-menu-column-4{
	max-width: 1100px;
	width: 100%;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 15px;
}

.site-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
	flex: 0 0 25%;
	/*padding: 0 15px;*/
}

.site-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color: #f2f2f2;
	font-weight: 600;
	line-height: 1;
	padding: 10px 0;
	text-transform: uppercase;
}

.site-header .menu > ul > li:hover > a{
	text-decoration: underline solid #7FC921 5px;
	/*text-decoration-color: #7FC921;
	text-decoration-style: solid;*/
}

.site-header .header-item > ul > li{
	display: inline-block;
	flex-wrap: wrap;
	margin-left: 15px;
}

.btn-primary{
	color: #ffffff;
    border-color: #7FC921;
    background-color: #7FC921;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 20px;
	font-weight: 500;
}

.btn-primary:hover{
	box-shadow: none !important;
	background-color: #ffffff;
	color: #000000;

}

.btn.border-dark{
	color: #000000;
	background: #fff;
}

.btn.border-dark:hover{
	color: #ffffff;
	background-color: #7FC921;
	border-color: #7FC921;
}

.header-btns-group .btn{
	padding: 12px 10px;
}

/*.btn.btn-dark:hover{
	color: #000000;
	background-color: #ffffff;
}*/

