@import url('https://fonts.googleapis.com/css?family=Source Sans Pro:wght@400;500;600;700&display=swap')

*{
	margin: 0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}

body{
	line-height: 1.5;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.container{
	max-width: 1500px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.align-items-center{
	align-items: center;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

---------------------------------------------------------------------
/* header */
.site-header{
	display: block;
	position: relative;
	z-index: 99;
	padding: 15px;
}

.site-header .container{
	max-width: 1500px;
}

/*.header.fixed{
	position: fixed;
	z-index: 999;
	background-color: rgba(255,255,255,.96);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 2px 6px 0 rgba(16,18,19,.08);
    transition: background-color .3s ease-in,padding .3s;
}*/

.site-header .item-left{
	flex: 0 0 17%;
}

.site-header .site-logo a{
	font-size: 30px;
	color: #f2f2f2;
}

.site-header .item-center{
	flex: 0 0 66%;
}

.site-header .item-right{
	flex: 0 0 17%;
}

.site-header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}

.site-header .menu > ul > li > a{
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	position: relative;
}

.site-header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color: #000000;
	box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top: 20px;
	opacity: 0;
	visibility: hidden;
}

.site-header .menu > ul > li.menu-item-has-children:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}

.site-header .menu > ul > li .sub-menu > ul > li {
	line-height: 1;
}

.site-header .menu > ul > li .sub-menu > ul > li > a {
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #ffffff;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}

.site-header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
	line-height: 1;
	display: block;
}

.site-header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
	padding: 10px 0;
	display: inline-block;
	font-size: 15;
	color: #b3b3b3;
	transition: color 0.3s ease;
}

.site-header .menu > ul > li .sub-menu.mega-menu{
    left: 50%;
    transform: translateX(-50%);
}

.site-header .menu > ul > li .sub-menu.mega-menu-column-4{
	max-width: 1100px;
	width: 100%;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 15px;
}

.site-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
	flex: 0 0 25%;
	/*padding: 0 15px;*/
}

.site-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color: #f2f2f2;
	font-weight: 600;
	line-height: 1;
	padding: 10px 0;
	text-transform: uppercase;
}

.site-header .menu > ul > li:hover > a{
	text-decoration: underline solid #7FC921 5px;
	/*text-decoration-color: #7FC921;
	text-decoration-style: solid;*/
}

.site-header .header-item > ul > li{
	display: inline-block;
	flex-wrap: wrap;
	margin-left: 15px;
}

.btn-primary{
	color: #ffffff;
    border-color: #7FC921;
    background-color: #7FC921;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 20px;
	font-weight: 500;
}

.btn-primary:hover{
	box-shadow: none !important;
	background-color: #ffffff;
	color: #000000;

}

.btn.border-dark{
	color: #000000;
	background: #fff;
}

.btn.border-dark:hover{
	color: #ffffff;
	background-color: #7FC921;
	border-color: #7FC921;
}

.header-btns-group .btn{
	padding: 12px 10px;
}

/*.btn.btn-dark:hover{
	color: #000000;
	background-color: #ffffff;
}*/

---------------------------------------------------------------------

/* hero section */
.hero-section{
	
	height: auto;

	align-items: center;
	/*padding: 0 20px;*/
}

.hero-section .container{
	color: #000000;
	/*margin: auto;*/
	margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
	padding: 40px;
}

.hero-section > .container > .row{
	justify-content: space-between;
}

.hero-section > .container > .row > div.column-right,
.hero-section > .container > .row > div.column-left{
	padding: 20px;	
}

.hero-section .column-left > img.decor-img{
	padding-top: -20px;
	padding-left:  55%;
}

.hero-section .container h1{
	font-size: 60px;
	max-width: 600px;
	margin-bottom: 0px;
}

.hero-section .container p{
	font-size: 18px;
	font-weight: 600;
	max-width: 600px;
}

.hero-section .container .btn-button{
	width: 180px;
	height: 60px;
	border-radius: 50px;
	background-color: #7FC921;
	border-color: transparent;
	box-shadow: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
    margin-bottom: 20px;
}

.hero-section .container .btn-button:hover{
	border-color: #7FC921;
	color: #000;
	background-color: transparent;
}

---------------------------------------------------------------------

/* courses section */
.Courses-section > .container{
	display: flex;
	justify-content: center;
}

.Courses-section > .container > .row > .title > h3,
.Courses-section > .container > .row > .title > h2,
.Courses-section > .container > .row > .title > p {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Courses-section > .container > .row > .title > h3{
	font-size: 25px;
	line-height: 30px;
}

.Courses-section > .container > .row > .title > h2{
	font-size: 35px;
	line-height: 30px;
}

.Courses-section > .container > .row > .title > p{
	font-size: 15px;
	line-height: 25px;
	text-align: center;
}

/* slider starts here */

.slider{
	display: flex;
	/*position: absolute;
	padding: 20px;
	margin-top: 50px;*/
}

.slider .card{
	width: 100%;
	height: auto;
	flex: 1;
	margin: 0 10px;
	background: #fff;
}

.slider .card .img{
    height: 200px;
    width: 100%;
}

.slider .card .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.slider> div:nth-child(1) > .content > .duration,
.slider> div:nth-child(2) > .content > .duration{
	display: inline-flex;
} 

.slider> div:nth-child(1) > .content > .duration > p:nth-child(1), 
.slider> div:nth-child(2) > .content > .duration > p:nth-child(1){
	padding-left: 20px;
	padding-right: 80px;
}

---------------------------------------------------------------------

/*   Development section   */

.development-section{
	position: relative;
	padding: 70px 0;
	display: flex;
}

.development-section .container{
	max-width: 1200px;
}

.development-section .container .row .dev-title > h4{
	justify-content: center;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
}

.development-section .container .row .dev-title > h2{
	justify-content: center;
	text-align: center;
	font-size: 30px;
}

.development-section .container .row .dev-title > p{
	justify-content: center;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
}

.row > .dev-title > .growth-card{
	display: flex;
	gap: 1.5rem;
	width: 1100px;
	height: 230px;
	padding: 70px 0;
}

.row > .dev-title > .growth-card > .text-card{
	/*width: 180px;
	height: 200px;*/
	flex: 1;
	border-radius: 6px;
	border-color: #838383;
	border: 1px;
	background-color: #fff;
	background-position: center;
	background-size: cover;
	box-shadow: 0 2px 10px 0 rgba(31,29,13,.1);
}

.row > .dev-title > .growth-card > .text-card > img,
.row > .dev-title > .growth-card > .text-card > h3,
.row > .dev-title > .growth-card > .text-card > p {
	padding: 15px 0px 0px 15px;
}

.row > .dev-title > .growth-card > .text-card > h3{
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}

.row > .dev-title > .growth-card > .text-card > p{
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
}

---------------------------------------------------------------------

/*  academy-partner section */

.academy-partner{
	position: relative;
	padding: 0 50px 0 50px;
	display: flex;
}

.academy-partner .container{
	max-width: 1200px;
}

.academy-partner .container .row .ap-title > h2{
	justify-content: center;
	text-align: center;
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 700;
	line-height: 50px;
}

.row > .ap-title > .ap-image{
	display: flex;
	gap: 3.5rem;
	width: 830px;
	height: 160px;
	padding: 40px 0;
}

.row > .ap-title > .ap-image > div{
	flex: 1;
	background-position: center;
	background-size: cover;
}

---------------------------------------------------------------------

/* explore career section*/	

.explore-career{
	position: relative;
	display: flex;
	padding: 70px 0;
	background-color: #F3F4F5;
}

.explore-career .container{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

.explore-career > .container > .row{
	justify-content: space-between;
}

.career-title{
	/*flex: unset;*/
	padding: 15px;
	width: 35%;
	position: relative;
	top: -25px;
}

.career-title > h3{
	text-transform: capitalize;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

.career-title > h2{
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 800;
	line-height: 32px;
}

.career-title > p{
	font-weight: lighter;
	font-size: 16px;
	line-height: 24px;
}

.career-courses{
    /*flex: unset;
    flex-wrap: wrap;*/
	padding: 15px;
	width: 60%;
}

ul.aligned{
	padding-right: 0;
}

ul{
	margin-top: 0;
	margin-bottom: 1rem;
}

ul.aligned li{
	display: inline-flex;
	border: 2px solid #7FC921;
	text-transform: none;
	margin: 5px 15px 15px 5px;
	padding: 10px 20px;
	font-weight: 400;
	background: #7FC921;
	color: #fff;
	float: right;
}

---------------------------------------------------------------------

/* feedback section */

.feedback{
	position: relative;
	padding: 70px 0;
	display: flex;
}

.feedback .container{
	max-width: 1200px;
}

.feedback .container .row .fb-title > h3{
	justify-content: center;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 0px;
	text-transform: capitalize;
}

.feedback .container .row .fb-title > img{
	padding-left: 69%;
}

.feedback .container .row .fb-title > p{
	justify-content: center;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
}

/*  testimonial starts here  */

/*.testimonial{
	background-color: black;
	width: 800px;
	height: 300px;
	border-radius: 20px;
}

.testimonial .image{
	height: 70px;
	width: 70px;
	object-fit: cover;
	border-radius: 50%;
}

.slide .top-content{
	display: flex;
	padding: 30px 50px;
}

.slide .top-content h3, .slide .top-content p{
	color: #ffffff;
}*/

.col-sm-6{
	background-color: #000;
	border-radius: 20px;
	width: 800px;
	height: 300px;
}

.testimonial-wrapper {
	padding: 0 10px;
}

.testimonial {
    color: #808080;
    position: relative;
    padding: 10px 50px;
    border-radius: 3px;
	margin-bottom: 15px;
}

/*.testimonial::after {
	content: "";
	width: 15px;
	height: 15px;
	display: block;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-width: 0 0 1px 1px;
	position: absolute;
	bottom: -8px;
	left: 46px;
	transform: rotateZ(-46deg);
}*/

.media {
	position: relative;
	padding: 30px 50px;
	display: flex;
	justify-content: space-between;
}

.media-left{
	width: 15%;
}

.media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
}

.media-body{
	width: 60%;
}

.overview {
	color: #fff;
	padding: 3px 0 0 15px;
}

.overview .name{
	padding-bottom: 10px;
}

.overview b {
	text-transform: uppercase;
	color: #fff;
}

.overview .details {
	padding: 5px 0 8px;
}

.media-icon{
	width: 25%;
	justify-content: flex-end;
	display: flex;
}


/*  testimonial ends here  */